.footer {
  background-color: #232f3e;
  padding: 100px;
  color: #fff;
}
.footer__wrapContainer {
  display: flex;
  margin-left: 5px;
  margin-top: 10px;
}
.footer__wrap {
  margin-left: 20px;
  padding: 50px;
  margin-top: -100px;
}
.footer__head {
  font-size: 16px;
  margin: 6px 0 14px 0;
}
.footer__para {
  color: #ddd;
}
.footer__copyright {
  background-color: #131a22;
  margin-left: -100px;
  margin-right: -100px;
  margin-bottom: -150px;
}
.footer__copypara {
  color: #fff;
  padding: 50px;
  text-align: center;
}
